body{
  background-color: #F0F7EE;
}

.logo {
  width: 300px;
}

.hero-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hero-left {
  padding: 15px;
  width: 50%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero {
  background-image: url("assets/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}

.jumbotron {
  background-color: #FFF;
  padding: 15px;
}
